nav {
  display: flex;
  height: 8vh;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  background-color: #2874f0;
}

nav>a,nav>span{
    text-decoration: none;
    color:white;

    display: flex;
    align-items: center;
    position: relative;
    height:5vh;
    /* background-color: rgb(170, 28, 111); */
}

nav>span{
    flex:1;
    
}

nav>a.nav1>img{
    height:5vh;
    width:8vw;
    margin-left: 2vmin;
}

nav>a.nav2>img{
    height:5vh;
    object-fit: cover;
    margin-left: 3vmin;
}

nav>a.nav3>svg{
    height:5vh;
    width:5vw;
    margin-left: 3vmin;
}

nav>a.nav4>span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    margin: 0 5vmin;    
}